{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock %}

{% block page_contect %}
    <h1>New Home Page is working</h1>
    <p>My first paragraph.</p>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
    </div>
{% endblock %}
